// productsPage
.productsMainContent {
  section {
    padding: 75px 0;
  }

  // h2 {
  text-align: center;
  // }
  // allProducts section
  .allProducts {
    .products {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      li {
        // flex-basis controls the dimension of the flex-CHILD
        // because we are using the default flex-direction value (row) the main axis of alignment is the x-axis. Therefore flex-basis will represent the width property:
        flex-basis: calc(100%/3 - 30px);
        margin: 5px 15px;
        // text-align: center;
      }
      img {
        border-radius: 10%;
      }
    }
    .popularProduct {
      font-weight: bold;
    }

    // PLSFIXTHIS is there a more elegant solution to unapplying the CSS to the nested span
    // .discountedPrice span:not(:first-child){
    //   text-decoration: line-through;
    //   opacity: 0.5;
    //   // span {
    //   //   text-decoration: none;
    //   //   opacity: 1;
    //   // }
    // }
    .discountedPrice {
        text-decoration: line-through;
        color: rgba($color: $primary, $alpha: 0.5);
        span {
          display: inline-block;
          text-decoration: none;
          color: rgba($color: $primary, $alpha: 1);
        }
      }
  }
}
